@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    font-size: 18px;
    text-decoration: none;
    color: #e5e7eb;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

h3 {
    font-size: 24px;
}

.header, 
.hero,
.footer {
    background-color: #1f2937;
}

.header {
    margin: 0;
    padding: 20px 50px;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.hero {
    display: flex;
    flex: 2;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    gap: 20px;
}

img {
    width: 400px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-subtext {
    font-size: 18px;
    color: #e5e7eb;
    text-align: justify;
}

.hero-button {
    background-color: #3882f6;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    align-self: flex-start;
}

.info {
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 2;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex: 1;
    gap: 30px;
}

.info-content {
    display: flex;
    flex-direction: column;
    width: 170px;
    text-align: center;
}

.box {
    border: 2px solid #3882f6;
    border-radius: 10%;
    height: 170px;
}

.quote {
    background-color: #e5e7eb;
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 2;
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 200;
    font-style: italic;
}

.author {
    font-size: 18px;
    font-weight: bold;
    color: #1f2937;
    align-self: flex-end;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
    margin: 20px auto;
    padding: 30px 50px;
}

.cta-content {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 20px;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.cta-subtext {
    font-size: 14px;
    font-weight: 100;
}


.cta-button {
    background-color: #3882f6;
    border: 2px solid #f9faf8;
    border-radius: 5px;
    color: #f9faf8;
    padding: 5px 20px;
    align-self: center;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 50px;
    color: #f9faf8;
}
